* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.viewport {
  display: flex;
}
.left-picture {
  width: 42rem;
  height: 100vh;
  border-bottom-right-radius: 5px;
}
/* RIGHT SECTION */
.right-side {
  width: 100%;
  height: 100vh;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upper-side {
  padding: 3rem;
  margin: 3.2rem 1.2rem 3.2rem 1.2rem;

  border: 1px solid;
  text-align: start;
}
.description-text {
  font-size: 1.5rem;
}
form {
  border: 1px solid;
  padding: 3rem;
  margin: 3.2rem 1.2rem;
}
