* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.viewport {
  display: flex;
}
.left-picture {
  position: relative;
  width: 42rem;
  height: 100vh;
  border-bottom-right-radius: 5px;
}
.logo-background {
  position: absolute;
  width: 42rem;
  top: 25%;
  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 0.6;
}
.odin-logo {
  margin: 1rem;
  width: 4rem;
  height: auto;
  opacity: 1;
}
.odin-text {
  margin: 2.5rem;
  color: #fff;
  font-size: 2.5rem;
}
/* RIGHT SECTION */
.right-side {
  width: 100%;
  height: 100vh;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.upper-side {
  padding: 3rem;
  margin: 3.2rem 1.2rem 3.2rem 1.2rem;

  border: 1px solid;
  text-align: start;
}
.description-text {
  font-size: 1.5rem;
}
form {
  border: 1px solid;
  padding: 3rem;
  margin: 3.2rem 1.2rem;
}
